/*ESTILOS GERAIS*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

body{

  font-family: 'Open Sans', sans-serif;
}

/*HOME*/
.jumbo{
  margin-top: 200px;
  font-size: 4.250em;
  text-align: center;
  color: white;
  line-height: 1em;
}

.intro{
  margin: 0 auto;
  max-width: 900px;
}

.social{
  margin-top: 100px;
  text-align: center;
}
.social a{
  margin-left: 40px;
}
.home{
  background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8) ), url("../img/home.jpg");
  background-size: cover;
  height: 100vh;
}

.header{
  padding-top: 20px;
}
.menu ul li{
  margin-left: 10px;
  margin-top: 25px;
}
.menu ul li a{
  padding: 10px 0;
  font-size: 1.375em;
  font-family: 'Open Sans Light', sans-serif;
  color: white;
  text-transform: uppercase;
}

/*ABOUT*/

.about{
  height: 100vh;
}

.me{
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.about p{
  margin-top: 50px;
  text-align: center;
  font-size: 3.438em;
}

.h2-style{
  margin-bottom: 50px;
  text-align: center;
  font-size: 6.250em;
}

/*SKILLS*/
.skills img{
  padding-top: 50px;
  padding-left: 50px;
}

.skills{
height: 100vh;
}

.skills figure{
  display: inline-block;
}

.skills figure figcaption{

}
/*PORTFOLIO*/

.portfolio{
  height: 100vh;
}

.portfolio_item{
  margin-bottom: 50px;
}
/*CONTACT*/



/*ALLAHU*/


a,a:visited,a:hover,a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	position:relative;
  transition:0.5s color ease;
	text-decoration:none;
	color:#81b3d2;
	font-size:2.5em;
}

a.before:before,a.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}
a.before:before{
  top:-0.25em;
}
a.after:after{
  bottom:-0.25em;
}
a.before:before,a.after:after{
  height:5px;
  height:0.35rem;
  width:0;
  background:#fff;
}
a.first:after{
  left:0;
}
a.second:after{
  right:0;
}
a.third:after,a.sixth:before,a.sixth:after{
  left:50%;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
}
a.fourth:before,a.fourth:after{
  left:0;
}
a.fifth:before,a.fifth:after{
  right:0;
}
a.seventh:before{
  right:0;
}
a.seventh:after{
  left:0;
}
a.eigth:before{
  left:0;
}
a.eigth:after{
  right:0;
}
a.before:hover:before,a.after:hover:after{
  width:100%;
}



.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
