h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
input {
  background: none;
}
body {
  font-family: 'Open Sans';
  color: white;
  background-color: #025887;
  background-image: url(img/header.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#panel {
  font-size: .8em;
}
h1 {
  text-align: center;
  padding: .3em;
}
img {
  max-width: 100%;
}
h2 {
  font-weight: 300;
  text-align: center;
  padding: 0.5em;
  font-size: 1em;
  background-color: rgba(6, 62, 144,0.7);
  margin-bottom: 1.5em;
}
.footer {
  text-align: center;
  padding: 0.5em;
  font-size: 1.2em;
}
.li {
  transition: all;
  padding-left: 1em;
  text-indent: -.7em;
}
.show {
  font-size: .8em;
  padding-left: 1em;
}
.li:before {
  content: "• ";
  color: #ffc400;
}
ul {
  font-size: 1.4em;
  list-style: none;
  padding: 0;
  margin: 0;
}
.li{
  font-weight: 600;
}
li {
  padding-left: 1em;
  text-indent: -.7em;
}
li:before {
  content: "• ";
  color: #ffc400;
}
.hide{
  padding-left: 1em;
  font-size: .8em;
  font-weight: 300;
  display: none;
}
a{
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 767px){
  .um{
    float: left;
    padding-left: 1.5em;
  }
  .dois{float: right; padding-right: 3em;}
  
  #myContent, #myContent3, #myContent4{width: 12em;}
}

@media screen and (min-width: 1023px){

  h1{
    text-align: center;
    padding: 0;
  }
  h2{
    font-size: 1em;
  }
  .um{
    padding-left: 8em;
  }
  .dois{
    padding-right: 8em;
  }
  .pontos{
    font-size: 1em;
  }
}
/* COLOR 
#025887
*/


/*jquery*/
